header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 5rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: linear-gradient(40deg, #ea00ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  color: #8964b0;
  margin: 0;
}
